:root {
  font-family: 'Outfit', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #F8FAFC;
  color: #1E293B;
}

#root {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}
